*{
    
    margin: 0 auto;

}

body{

    font: 100% Lucida Sans, Verdana;
    /*margin: 20px;*/
    line-height: 26px;

}

header{

    width: 100%;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;

}

.exercicio{

    width: 100%;
    height: 300px;
    background-color: rgb(230, 228, 228);

}

h1{

    padding: 30px 0 0 0;

}

.exercicio h1{

    margin-left: 15px;
    
}

header p{

    text-align: center;
    margin-top: 2px;

}

.links{

    margin: 1em;

}

.links li{

    list-style-type: none;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding: 2px;
    border-radius: 4px;
    margin: 4px;
    width: 230px;

}

a{

    cursor: pointer;
    text-decoration: none;
    color: black;

}

.links li:hover{

    background-color: rgb(163, 166, 179);    

}

p{

    text-align: justify;
    text-justify: inter-word;
    margin: 20px;

}
